let ethUtils = require('ethereumjs-util');

let env = {
    mongodbUrl: 'mongodb://localhost:27017/IFC',
    web3Host: 'localhost',
    web3Port: '8545',
    IFCContractAddress: '0x82af6374ccec5bff0e9c87e72853e915671f54d6',
    privateKey: '41b1a0649752af1b28b3dc29a1556eee781e4a4c3a1f7f53f90fa834de098c4d',
    password: 'foo'
    // IFCContractAddress: '0xc714d2f9e56cc0ec613348016c5a5154a5bb81a6',
    // privateKey: '18c55c27f047f21ed3f42588c6ec0b2a50c77ceba223439ee9744bb86ed8fa5c',
    // password: '2wsx4rfv'
};

const privatekey = env.privateKey;
const publickey = '0x' + ethUtils.privateToPublic('0x' + privatekey).toString('hex');
const account = '0x' + ethUtils.pubToAddress(publickey).toString('hex');

env.publickey = publickey;
env.account = account;
env.web3Url = 'http://' + env.web3Host + ':' + env.web3Port;

module.exports = env;
